*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

 

.header {
  width: 100vw;
  height: 9rem;
  display: flex;
  flex-direction: column;
  
  background: #f5b73b;
}

.icon img {
  position: absolute;
  display: inline;
  width: 90px;
  
}

.menu-links {
  margin-top: 3rem;
  margin-left: 50rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
   
  
}
.menu-links a{
  text-decoration: none;
}

.menu-navigation {
  margin-bottom: 20px;
}

.item-list {
  margin: 0 4px;
  padding: 4px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .5px;
  font-family: 'Lora', serif;
}
