@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/* MENU LATERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #EAEBEF;
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 300px;
    float: left;
    top:0;
    left:0;
    position:fixed;
}

.nav__link{
    color: #303440;
    display: block;
    padding: 6.5px 0;
    text-decoration: none;
    text-align: center;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #F6F8FA;
}

.list{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
    top: 0;
    bottom: 0;
    border: 1px solid;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.nav .list .logo img{
    height: 70px;
    display: block;
    margin: auto;
}

.nav .list .logo{
    padding: -150px 0px 50px;
}

.section{
    float: left;
    padding: 10px;
}

/* AREAS COMUNES   */
.contenidoAreasComunes{
    margin-left: 290px;
    margin-top: -20px;
}

.imagenDeFondo{
    background-image: url(fondoVerAreasComunes.png);
}

.encabezado{
    padding-left: 1%;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    color: #1e2cf5;
    font-weight: bold;
}

#titulo{
    padding-top: 60px;
    padding-left: 35px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
    margin-top: -45px;
}

.image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -30px;
}

p{
    font-size: 16px;
    padding-left: 6px;
    padding-right: 25px;
    text-align: justify;
}

li{
    font-size: 30;
}