@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/* MENU LATERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #EAEBEF;
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 300px;
    float: left;
    top:0;
    left:0;
    position:fixed;
}

.nav__link{
    color: #303440;
    display: block;
    padding: 6.5px 0;
    text-decoration: none;
    text-align: center;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #F6F8FA;
}

.list{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
    top: 0;
    bottom: 0;
    border: 1px solid;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.nav .list .logo img{
    height: 70px;
    display: block;
    margin: auto;
}

.nav .list .logo{
    padding: -150px 0px 50px;
}

.section{
    float: left;
    padding: 10px;
}

/* TUS RECIBOS */
.contenidoTusRecibos{
    margin-left: 290px;
    margin-top: -20px;
    background-image: url(../fondoTusRecibos.png);
}

.tituloTusRecibos{
    padding-top: 60px;
    padding-left: 35px;
}

button{
    margin-left: 35px;
    border-radius: 16px 16px 16px 16px;
    height: 25px;
    width: 125px;
    margin-bottom: 10px;
}

.invoice-box {
	max-width: 800px;
	margin: auto;
	padding: 30px;
	border: 1px solid #eee;
	box-shadow: 0 0 10px rgb(0, 0, 0);
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	color: #555;
}

.invoice-box table {
	width: 100%;
	line-height: inherit;
	text-align: left;
}

.invoice-box table td {
	padding: 5px;
	vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
	padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
	font-size: 45px;
	line-height: 45px;
	color: #333;
}

.invoice-box table tr.information table td {
	padding-bottom: 40px;
}

.invoice-box table tr.heading td {
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.invoice-box table tr.details td {
	padding-bottom: 20px;
}

.invoice-box table tr.item td {
	border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
	border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
	border-top: 2px solid #eee;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
.invoice-box table tr.top table td {
	width: 100%;
	display: block;
	text-align: center;
}

.invoice-box table tr.information table td {
	width: 100%;
	display: block;
	text-align: center;
	}
}

/** RTL **/
.invoice-box.rtl {
	direction: rtl;
	font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.invoice-box.rtl table {
	text-align: right;
}

.invoice-box.rtl table tr td:nth-child(2) {
	text-align: left;
}