body {
    margin: 0;
    padding: 0;
    background: url(../img/condo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 420px;
    height: 500px;
    background: url(../img/condominio\ 2.jpg);
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 20px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 350px;
    margin-bottom: 10px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 20px;
}

.login-box p {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
    font-weight: 400px;
}

.login-box p .link {
    color: white;
}

.login-box a:hover {
    color: white;
}